version: "3.3"                               
                                             
services:                                    
  app:                                       
    build: .                                 
    command: python3 -m FileStream           
    restart: on-failure                      
    ports:                                   
      - "80:80"                              
